.App {
  text-align: center;
  font-family: 'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', 'serif';
}


.App-header {
  background-color: #f5f7fa;
  font-size: calc(10px + 2vmin);
  color:royalblue;
}

.body{
  text-align: center;
}


